* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Exo 2", sans-serif;
  background-color: #cecece;
}

header {
  background-color: #0080ff;
}

header ul {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

header li {
  list-style: none;
  padding: 0px 10px;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header .active {
  font-weight: bold;
}

header a:hover {
  font-weight: bold;
}

main {
  color: #0080ff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 20px;
}

main h3 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  height: 50px;
  margin-top: 38px;
  background-color: #0080ff;
}
